<!DOCTYPE html>
<html>
<head>
    <title>Control Room Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>🚨 Control Room Dashboard</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Camera</th>
            <th>Gesture</th>
            <th>Time</th>
        </tr>
        {% for alert in alerts %}
        <tr>
            <td>{{ alert[0] }}</td>
            <td>{{ alert[1] }}</td>
            <td class="{{ alert[2] }}">{{ alert[2] }}</td>
            <td>{{ alert[4] }}</td>
        </tr>
        {% endfor %}
    </table>

<script src="/static/script.js"></script>
</body>
</html>
